<footer class="w-full bg-black py-10 px-4 mt-auto border-t border-[#333]">
    <div class="container mx-auto max-w-4xl text-[#808080] text-sm">
        <div class="flex gap-4 mb-6 text-xl">
            <i class="fab fa-facebook-f hover:text-white cursor-pointer"></i>
            <i class="fab fa-instagram hover:text-white cursor-pointer"></i>
            <i class="fab fa-twitter hover:text-white cursor-pointer"></i>
            <i class="fab fa-youtube hover:text-white cursor-pointer"></i>
        </div>
        
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-6">
            <div class="flex flex-col gap-3">
                <a href="#" class="hover:underline">Audio Description</a>
                <a href="#" class="hover:underline">Investor Relations</a>
                <a href="#" class="hover:underline">Legal Notices</a>
            </div>
            <div class="flex flex-col gap-3">
                <a href="#" class="hover:underline">Help Center</a>
                <a href="#" class="hover:underline">Jobs</a>
                <a href="#" class="hover:underline">Cookie Preferences</a>
            </div>
            <div class="flex flex-col gap-3">
                <a href="#" class="hover:underline">Gift Cards</a>
                <a href="#" class="hover:underline">Terms of Use</a>
                <a href="#" class="hover:underline">Corporate Information</a>
            </div>
            <div class="flex flex-col gap-3">
                <a href="#" class="hover:underline">Media Center</a>
                <a href="#" class="hover:underline">Privacy</a>
                <a href="#" class="hover:underline">Contact Us</a>
            </div>
        </div>

        <button class="border border-[#808080] py-1 px-4 mb-4 hover:text-white">Service Code</button>
        
        <div class="text-[11px]">
            &copy; 2024 Netflix Pro, Inc.
        </div>
    </div>
</footer>
