PORT=3000
NODE_ENV=development
# Database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=password
DB_NAME=netflix_pro
DB_DIALECT=mysql

# Security
SESSION_SECRET=super_secret_key_change_me
API_BASE_URL=https://sm.sapimu.au/api/v1
