@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');

/* Custom Scrollbar Hide */
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #555; }

/* Swiper Fixes */
.swiper-button-next::after, .swiper-button-prev::after { font-size: 1.5rem !important; font-weight: bold; }
.swiper-slide { height: auto; }

/* Loader Animation */
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

/* Range Input Reset */
input[type=range] { -webkit-appearance: none; background: transparent; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; height: 16px; width: 16px; border-radius: 50%; background: #E50914; margin-top: -6px; cursor: pointer; }
input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 4px; background: #555; border-radius: 2px; }
